@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.site-layout-background{
  position: relative;
}

.webmap {
  height: 100vh;
}

.button-notif{
  position: absolute;
  bottom: 20px;
  margin-left: 15px;
}

.button-clear{
  position: absolute;
  bottom: 75px;
  margin-left: 15px;
}

.spinner{
  position: fixed;
  bottom: 50vh;
  right: 50vw;
}